.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

header {
  margin-top: 35px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.contact_button:hover {
  background-color: #DB8876;
  color: black;
}

.modal {
  font-family: "DM Sans";
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 40px;
}

.modal header {
  width: 100%;
  position: relative;
  height: 180px;
}

.modal header img {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.modal header h1 {
  font-size: 64px;
  font-weight: normal;
  margin-top: -40px;
}

.modal header p {
  font-size: 64px;
  font-weight: normal;
  margin-top: -60px;
}

.send_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
}

form .text-control {
  font-size: 35px;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photographer-info {
  margin-left: 30px;
  margin-bottom: 25px;
}

.photograph-header h1 {
  color: #D3573C;
  font-size: 64px;
}

.photographer-location {
  color: #901C1C;
  font-size: 24px;
  margin-top: -20px;
}

.photographer-tagline {
  color: #525252;
  font-size: 18px;
}

.photographer-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  height: 50px;
  margin-left: 100px;
  margin-bottom: 43px;
}

.sort {
  margin-left: 100px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: -45px;
}

.choice-list {
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding-left: 15px;
}

.choice-list:hover {
  background-color: #DB8876;
  color: black;
}


.media-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  margin: 100px;
}

.media-gallery img,
.media-gallery video {
  width: 355px;
  margin-bottom: 30px;
  border-radius: 5px;
  height: 350px;
  object-fit: cover;
}

.likes-price {
  background-color: #DB8876;
  position: fixed;
  width: 350px;
  height: 80px;
  bottom: 0;
  right: 230px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

dialog.light-box {
  width: 90%;
  max-width: 1250px;
  height: auto;
  border: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#buildLb { 
  margin-left: 60px;
  margin-right: 60px; 
}

#left-slide {
  position: absolute;
  top: 50%;
  left: 20px;
  cursor: pointer;
}

#right-slide {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
}

#close-slide {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.lightboxer {
  cursor: pointer;
}

#buildLb img,
#buildLb video {
  max-width: 100%;
  max-height: 80vh;
  margin-top: 30px;
  }

.media-title-lightbox {
  color : #901C1C;
}

.background-lightbox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.media-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title-likes-container {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  color : #901C1C
}

.likes-container {
  display: flex;  
  gap: 5px;
}

.like-count {
  font-size: 18px;  
  font-weight: 500;
  margin-top: 0;
}

.like-icon {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.media-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.disabled {
  pointer-events: none;
}

.likes-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 600;
  gap: 20px;
}

.left-section {
  display: flex;
  align-self: center;
  gap: 10px;  
}

.video-play-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px !important;
  height: 150px !important;
  pointer-events: none;
}